<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <!--Bootstrap link-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chatbot.css') }}">

</head>
<body>

    <div class="container">
        <!--I am the cardio bot header-->
        <div class="wrapper">
            <div class="typing-demo">
             <h1> I am the CardioBot ... </h1>
            </div>
        </div>

        <!--Chat area-->
        <div class="chat-container" id="chat-container">
            <div class="user-container">
               
            </div>
            <div class="bot-container">
                <div class="bot-msg">Hello! How can I assist you today?</div>
            </div>
        </div>

         <!--Enter your message and send area-->
        <div class="form-group">
            <input type="text" id="user_input" class="form-control" placeholder="Enter your message">
            <button id="send_btn" class="btn btn-primary">Send</button>
        </div>


    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/chatbot.js') }}"></script>
</body>
</html>
