<span style="font-family: verdana, geneva, sans-serif;"><!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <title>Patient Dashboard</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/myAppointment.css') }}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    </head>
    <body>
      <div class="container">

        <!--Heading area - logo,Patient dashbaord and home, logout buttons-->
        <div class="heading">
          <a href="#" class="top-heading"><i class="fas fa-heartbeat"></i> Cardio<span>Clinic.</span></a>
          <h1>Patients Dashboard</h1>
          <div class="buttons-container">
            <form action="{{ url_for('index') }}" class="home-button">
              <button type="submit">
                <i class="fas fa-home"></i>
              </button>
            </form>
        
            <form action="{{ url_for('logout') }}" method="post" class="logout-form">
              <button type="submit" class="logout-button">
                <i class="fas fa-sign-out-alt"></i>
              </button>
            </form>
          </div>
        </div>
        
      </div>
      
      
        <section class="main">
          
          <!-- six cards-->
          <div class="main-cards">

            <div class="card">
              <img src="{{ url_for('static', filename='images/appointment.png') }}" alt="" width="100" height="100">
              <h3>Make Appointments</h3>
              <button onclick="redirectToPage('/appointment')">View</button>
            </div>

            <div class="card">
              <img src="{{ url_for('static', filename='images/consultation.png') }}" alt="" width="100" height="100">
              <h3>Online Consultations</h3>
              <button onclick="redirectToPage('/consultation')">View</button>
            </div>

            <div class="card">
              <img src="{{ url_for('static', filename='images/chatbot.png') }}" alt="" width="100" height="100">
              <h3>ChatBot</h3>
              <button onclick="">View</button>
            </div>

            <div class="card">
              <img src="{{ url_for('static', filename='images/clock.png') }}" alt="" width="100" height="100">
              <h3>My Appointments</h3>
              <button id="openModal">View</button>
          </div>
          
          <!-- Modal for view My Appointments -->
          <div id="myModal" class="modal">
              <div class="modal-content">
                  <span class="close">&times;</span>

                  <!-- Content of my appointment modal -->
                  <div class="appointment-columns">
                      {% for item in appointments %}
                      <div class="appointment-card">
                          <h3>Appointment {{ loop.index }}</h3>
                          <ul>
                              <li><strong>ID:</strong> {{ item[0] }}</li>
                              <li><strong>NIC:</strong> {{ item[1] }}</li>
                              <li><strong>First Name:</strong> {{ item[2] }}</li>
                              <li><strong>Last Name:</strong> {{ item[3] }}</li>
                              <li><strong>Date:</strong> {{ item[8] }}</li>
                              <li><strong>Time:</strong> {{ item[9] }}</li>
                          </ul>
                          <form action="{{ url_for('cancel_appointment', appointment_id=item[0]) }}" method="post">
                              <button type="submit">Cancel</button>
                          </form>
                      </div>
                      {% endfor %}
                  </div>
              </div>
          </div>
          
          

            <div class="card">
              <img src="{{ url_for('static', filename='images/prescription.png') }}" alt="" width="100" height="100">
              <h3>My Prescriptions</h3>
              <button onclick="redirectToPage('/prescription')">View</button>
            </div>

            <!--display logged username in profile card-->
            <div class="card">
              <img src="{{ url_for('static', filename='images/user.png') }}" alt="" width="100" height="100">
              <h3>Welcome, {{ session.get('logged_user_first_name') }}!</h3>
              <button onclick="redirectToPage('/profile')">View</button>
              </form>
            
            </div>

          </div>
        </section>
  


  <!--js for open modal in view my prescription-->
      <script>
        function redirectToPage(url) {
          window.location.href = url;
        }


var modal = document.getElementById("myModal");

var btn = document.getElementById("openModal");

var span = document.getElementsByClassName("close")[0];

btn.onclick = function() {
  modal.style.display = "block";
}

span.onclick = function() {
  modal.style.display = "none";
}

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
 </script>
      
    </body>
    </html>